{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'committees.css' %}">
    <!-- <link rel="stylesheet" href="http://localhost:8080/committees.css"> -->
    <title>Open Search</title>
</head>
<body>
    <div id="container"></div>
    <script src="{% static 'committees.js' %}"></script>
    <script src="{% static 'vendor.js' %}"></script>
    <!-- <script src="http://localhost:8080/dist/committees.js"></script>
    <script src="http://localhost:8080/dist/vendor.js"></script> -->
</body>
</html>